{% load staticfiles %}
<style>
    header, main, footer {
        padding-left: 250px;
        padding-right: 250px;
    }

    @media only screen and (max-width : 992px) {
        header, main, footer {
            padding-left: 0;
            padding-right: 0;
        }
    }
</style>
<nav>
    <div class="nav-wrapper">
        <ul id="right-slide-out" class="side-nav fixed">
            <li>
                <div class="userView">
                    <a href="#" class="center"><span class="flow-text">CHAT</span></a>
                </div>
            </li>
            <li><div class="divider"></div></li>
            <ul class="collapsible black-text" data-collapsible="expandable">
                <li>
                    <div class="collapsible-header">Ronaldo</div>
                    <div class="collapsible-body">
                        <span>add chat window here</span>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header">John Snow</div>
                    <div class="collapsible-body"><span>add chat window here</span></div>
                </li>
                <li>
                    <div class="collapsible-header">Sumer Fuddi</div>
                    <div class="collapsible-body"><span>add chat window here</span></div>
                </li>
            </ul>
{#            <li><a href="#!">Friend 1</a></li>#}
{#            <li><a href="#!">Friend 2</a></li>#}
{#            <li><a href="#!">Friend 3</a></li>#}
        </ul>
        <!--add navbar contents-->
        <ul id="left-slide-out" class="side-nav fixed">
            <li><div class="userView">
                <div class="background">
                </div>
                <a href="#"><img class="circle" src="{% static 'images/user.jpg' %}"></a>
                <a class='dropdown-button' href='#' data-activates='dropdown1'>
                    {{ request.session.username }}
                    <i class="material-icons right">view_stream</i>
                </a>
                <a href="#"><span class="email">{{ request.session.name }}</span></a>
                <a href="#"><span class="email">{{ request.session.email }}</span></a>
                <!-- Dropdown Trigger -->

                <!-- Dropdown Structure -->
                <ul id='dropdown1' class='dropdown-content'>
                    <li><a href="{% url 'accounts:update' %}">Profile</a></li>
                    <li><a href="{% url 'accounts:logout' %}">Logout</a></li>
                </ul>
            </div></li>
            <li><a href="#!"><i class="material-icons">home</i>Home</a></li>
            <li><a href="{% url 'friends:list' %}"><i class="material-icons">android</i>Friends</a></li>
            <li><a href="{% url 'accounts:players' %}"><i class="material-icons">perm_identity</i>Players</a></li>
            <li><div class="divider"></div></li>
            <li><a class="subheader">Games</a></li>
            <li><a class="waves-effect" href="#">Tic Tac Toe</a></li>
        </ul>
        <ul class="right">
            <a href="#" data-activates="right-slide-out" class="right-button-collapse right"><i class="material-icons">menu</i></a>
        </ul>
        <ul>
            <a href="#" data-activates="left-slide-out" class="left-button-collapse"><i class="material-icons">menu</i></a>
        </ul>
    </div>
</nav>

<script>
    {% block navbar_jquery %}
{#        $(".button-collapse").sideNav();#}
        $('.collapsible').collapsible();
        $('.left-button-collapse').sideNav({
                    menuWidth: 250, // Default is 300
                    edge: 'left', // Choose the horizontal origin
                    closeOnClick: false, // Closes side-nav on <a> clicks, useful for Angular/Meteor
                    draggable: true // Choose whether you can drag to open on touch screens
                }
        );
        $('.right-button-collapse').sideNav({
                    menuWidth: 250, // Default is 300
                    edge: 'right', // Choose the horizontal origin
                    closeOnClick: false, // Closes side-nav on <a> clicks, useful for Angular/Meteor
                    draggable: true // Choose whether you can drag to open on touch screens
                }
        );

        $('.dropdown-button').dropdown({
                    inDuration: 300,
                    outDuration: 225,
                    constrainWidth: false, // Does not change width of dropdown to that of the activator
                    hover: false, // Activate on hover
                    gutter: 0, // Spacing from edge
                    belowOrigin: false, // Displays dropdown below the button
                    alignment: 'left', // Displays dropdown with edge aligned to the left of button
                    stopPropagation: false // Stops event propagation
                }
        );
    {% endblock navbar_jquery %}
</script>
