{% extends "base.html" %}


{% block content %}
    {{ block.super }}
    <main>
        <div class="row">
            <div class="col s12">
                <h2 class="flow-text center">Friends</h2>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <table>
                    <thead>
                    <tr>
                        <th>Username</th>
                        <th>First Name</th>
                        <th>Friend</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for player in friend_requests_sent %}
                        <tr>
                            <td><a href="{{ player.get_absolute_url }}">{{ player.username }}</a></td>
                            <td>{{ player.first_name }} {{ player.last_name }}</td>
                            <td><button class="btn waves-effect waves-light pink">sent</button></td>
                        </tr>
                    {% endfor %}

                    {% for player in friend_requests_received %}
                        <tr>
                            <td><a href="{{ player.get_absolute_url }}">{{ player.username }}</a></td>
                            <td>{{ player.first_name }} {{ player.last_name }}</td>
                            <td><button class="btn waves-effect waves-light">accept</button></td>
                        </tr>
                    {% endfor %}
                    {% for player in friends %}
                        <tr>
                            <td><a href="{{ player.get_absolute_url }}">{{ player.username }}</a></td>
                            <td>{{ player.first_name }} {{ player.last_name }}</td>
                            <td>
                                <button class="btn waves-effect waves-light cyan">Friends<i class="material-icons right">done</i></button>
                                <a class="btn" href="{% url 'room_detail' username=player.username %}">chat</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <ul>

                </ul>
            </div>
        </div>
    </main>

{% endblock content %}